div.table-title {
    display: block;
    margin: auto;
    width: 100%; /* Ocupar toda la pantalla */
    padding: 10px;
    background-color: #81BECE;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
}

.table-title h3 {
    color: #012E4A;
    font-size: 10vw;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    text-align: center;
}

/*** Table Styles ***/
.table-fill {
    background: #E8EDE7;
    border-collapse: collapse;
    margin: auto;
    width: 100%; /* Ocupar el 80% del ancho de la pantalla */
    padding: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    border-radius: 10px;
    /* Altura máxima y comportamiento de desplazamiento */
    max-height: 85vh; /* Ajuste de la altura máxima al 85% de la vista */
    overflow-y: auto; /* Desplazamiento vertical si hay más contenido */
}

th {
    color: #012E4A;
    background: #E8EDE7;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 2.5vw; /* Ajuste de tamaño de fuente relativo */
    font-weight: 100;
    padding: 16px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

    th:first-child {
        border-top-left-radius: 10px;
    }

    th:last-child {
        border-top-right-radius: 10px;
        border-right: none;
    }

.text-area {
    width: 90%; /* Ajusta el ancho relativo al contenedor */
    max-width: 100%; /* Evita que sobrepase el tamaño del contenedor */
    height: auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Permite ajustar el tamaño vertical */
}
tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #012E4A;
    font-size: 10vw; /* Ajuste de tamaño de fuente relativo */
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

    tr:first-child {
        font-size: 2vw;
        border-top: none;
    }

    tr:last-child {
        font-size: 2vw;
        border-bottom: none;
    }

    tr:nth-child(odd) td {
        font-size: 2vw;
        background: #f0f0f0; /* Color alterno en filas */
    }

    tr:last-child td:first-child {
        font-size: 2vw;
        border-bottom-left-radius: 10px;
    }

    tr:last-child td:last-child {
        font-size: 2vw;
        border-bottom-right-radius: 10px;
    }

td {
    background: #E8EDE7;
    padding: 16px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 2vw; /* Ajuste de tamaño de fuente relativo */
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

    td:last-child {
        border-right: 0px;
    }

    th.text-left, td.text-left {
        text-align: left;
    }

    th.text-center, td.text-center {
        text-align: center;
    }

    th.text-right, td.text-right {
        text-align: right;
    }


/*** Loading Popup Styles ***/

.loading-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px); /* Agrega el efecto de desenfoque */
    z-index: 9999;
}

.overlay {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80vw;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.popup-content h3 {
    margin-top: 0;
    font-size: 2vw; /* Tamaño de fuente más pequeño para el título */
}

.popup-content p {
    font-size: 2vw; /* Tamaño de fuente grande para el mensaje */
}

.popup-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

.full-width-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1.5vw; /* Ajuste del tamaño de fuente */
}

    .full-width-button:hover {
        background-color: #0056b3;
    }
