


@code {
    [Parameter]
    public bool IsVisible { get; set; } = false;

    public void Show()
    {
        IsVisible = true;
        StateHasChanged();
    }

    public void Hide()
    {
        IsVisible = false;
        StateHasChanged();
    }
}

@if (IsVisible)
{
    <div class="loading-popup">
        <div class="overlay">
            <div class="popup-content">
                <div class="loader"></div> <!-- Círculo giratorio -->
                <p>Cargando</p>
            </div>
        </div>
    </div>

    
    
}
