@page "/InventarioMenu"


<div class="header">
    <label class="Label-Titulo">Menu Inventariado</label>
</div>
<body>

    <div class="containerD">

        <div class="itemD">
            <button class="button-19" role="button" @onclick="inventario">Toma de inventario</button>
        </div>
        <div class="itemD">
            <button disabled class="button-2" style="" role="button"> Buscar Productos  </button>
        </div>
    </div>

</body>
