@page "/Inventariado"
@using BakAppDiego.Components.Dialogs
@using BakAppDiego.Components.Layout
<InputContador @ref="InCon" />
<InputDialog @ref="InDIalog" />
<InputObjetos @ref="InObj" />
<InventarProducto @ref="inventar"/>
<body>

    @if (iniciado)
    {
        <div class="panel">
            <h1>@Sector</h1>

            <nav role="navigation">
                <div id="menuToggle">
                    <!--
                    A fake / hidden checkbox is used as click reciever,
                    so you can use the :checked selector on it.
                    -->
                    <input type="checkbox" id="menuCheckbox" />

                    <!--
                    Some spans to act as a hamburger.

                    They are acting like a real hamburger,
                    not that McDonalds stuff.
                    -->
                    <span></span>
                    <span></span>
                    <span></span>

                    <!--
                    Too bad the menu has to be inside of the button
                    but hey, it's pure CSS magic.
                    -->
                    <ul id="menu">
                        <!--
                        We can use a label here to close upon click (when doing same page navigation), this
                        does require a slight bit of JS.
                        -->
                        <!-- These just close the menu -->
                        <li>
                            <label for="menuCheckbox">
                                <a class="menu-item">
                                    Buscador de productos
                                </a>
                            </label>
                        </li>
                        <li >
                            <label for="menuCheckbox" >
                                <a class="menu-item" @onclick="() => CambiarContador(1)">

                                    Editar Contador 1

                                </a>
                            </label>
                        </li>
                        <li>
                            <label for="menuCheckbox" @onclick="() => CambiarContador(2)">
                                <a class="menu-item">

                                    Editar Contador 2
                                </a>
                            </label>
                        </li>
                        <!-- Or just use regular URLs -->

                    </ul>
                </div>
            </nav>
        </div>
        @if (Escaneado)
        {
            <div class="container" style="background-color: transparent; overflow-y: auto; margin-bottom: 150px;">
                <div class="row justify-content-center g-1" style="background-color: transparent;">
                    <!-- Cartas -->
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-bg-primary h-100" style="--bs-card-border-color: #036280;">
                            <div class="card-header" style="background-color: #81BECE;">-----------------</div>
                            <div class="card-body" style="background-color: #81BECE;">
                                <h5 class="card-title">--------------------</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-bg-primary h-100" style="--bs-card-border-color: #036280;">
                            <div class="card-header" style="background-color: #81BECE;">-----------------</div>
                            <div class="card-body" style="background-color: #81BECE;">
                                <h5 class="card-title">--------------------</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-bg-primary h-100" style="--bs-card-border-color: #036280;">
                            <div class="card-header" style="background-color: #81BECE;">-----------------</div>
                            <div class="card-body" style="background-color: #81BECE;">
                                <h5 class="card-title">--------------------</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-bg-primary h-100" style="--bs-card-border-color: #036280;">
                            <div class="card-header" style="background-color: #81BECE;">-----------------</div>
                            <div class="card-body" style="background-color: #81BECE;">
                                <h5 class="card-title">--------------------</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-bg-primary h-100" style="--bs-card-border-color: #036280;">
                            <div class="card-header" style="background-color: #81BECE;">-----------------</div>
                            <div class="card-body" style="background-color: #81BECE;">
                                <h5 class="card-title">--------------------</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card text-bg-primary h-100" style="--bs-card-border-color: #036280;">
                            <div class="card-header" style="background-color: #81BECE;">-----------------</div>
                            <div class="card-body" style="background-color: #81BECE;">
                                <h5 class="card-title">--------------------</h5>
                            </div>
                        </div>
                    </div>
                    <!-- Añade más cartas según sea necesario -->
                </div>
            </div>
        }

        <!-- El contenido de la página va aquí -->
    }

    
    @if (Escaneado)
    {

        <div class="footer">
            <span class="cantidad-texto">Cantidad: 5</span>
            <button class="button-19" style="bottom: 20px;" @onclick="() =>EscanearObjeto()">Escanear Producto</button>
        </div>

    }
    else
    {

        <div class="footer">
            <span class="cantidad-texto">Cantidad: 5</span>
            <button class="button-19" style="bottom: 20px; " @onclick="() =>EscanearSector()">Escanear  Sector</button>

        </div>



    }
</body>
