/* Estilos generales */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

/* Panel superior */
.panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    background-color: #012E4A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E8EDE7;
    font-size: calc(2rem + 4vw);
    text-align: center;
    z-index: 10;
}

/* Contenedor de tarjetas */
.container {
    position: relative;
    margin-top: 15vh;
    margin-bottom: 80px;
    width: 100%;
    max-height: calc(100vh - 15vh - 80px);
    overflow-y: auto;
    padding: 1rem;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de cada tarjeta */
.card {
    background-color: #E8EDE7;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
}

    .card:hover {
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    }

    .card h2 {
        margin-top: 0;
        color: #036280;
    }

    .card p {
        color: #036280;
        margin-bottom: 0;
    }

/* Menú hamburguesa */
#menuToggle {
    display: block;
    position: fixed;
    top: 5vh; /* Coloca el botón hamburguesa justo sobre el panel (ajustado según la altura del panel) */
    left: 50px;
    z-index: 999; /* Asegura que el botón quede por encima del panel y otros elementos */
    -webkit-user-select: none;
    user-select: none;
}

    #menuToggle a {
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
    }

        #menuToggle a:hover {
            color: tomato;
        }


    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
 * Just a quick hamburger
 */
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
    }

        #menuToggle span:first-child {
            transform-origin: 0% 0%;
        }

        #menuToggle span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }

    /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

        /*
 * But let's hide the middle one.
 */
        #menuToggle input:checked ~ span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

        /*
 * Ohyeah and the last one should go the other direction
 */
        #menuToggle input:checked ~ span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
    position: fixed; /* Cambiado a fixed para que ocupe toda la pantalla */
    top: 0;
    left: 0;
    width: 80vw; /* Ancho relativo al 80% de la ventana */
    height: 100vh; /* Ajustado para que ocupe toda la altura de la pantalla */
    margin: 0; /* Ajustado para eliminar cualquier margen */
    padding: 50px;
    padding-top: 125px;
    box-sizing: border-box;
    overflow-y: auto;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

    #menu li {
        padding: 10px 0;
        font-size: calc(16px + 1vw); /* Tamaño de letra relativo al ancho de la pantalla */
        box-sizing: border-box;
    }

        #menu li label {
            cursor: pointer;
        }

/* Menú de items */
.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem + 0.5vw); /* Tamaño de texto basado en el ancho de la pantalla */
    padding: 10px;
    width: 100%; /* Asegura que el .menu-item ocupe todo el ancho del li */
    box-sizing: border-box;
}

    .menu-item a {
        text-decoration: none;
        color: inherit;
    }

    .menu-item img {
        width: calc(20px + 2vw); /* Tamaño de la imagen basado en el ancho de la pantalla */
        height: auto;
        margin-left: auto; /* Empuja la imagen hacia el borde derecho */
    }

/* Y ahora deslizaremos el menú desde la izquierda */
#menuToggle input:checked ~ ul {
    transform: none;
}

/* Panel intermedio */
.panel-intermedio {
    position: relative;
    padding: 20px;
    background-color: #e9ecef;
    text-align: center;
    font-size: 18px;
    margin-top: 15vh;
    margin-bottom: 20px;
}

/* Estilo para el botón */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #012E4A;
    padding: 0;
}

.button-19 {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border-radius : 0;
}
.cantidad-texto {
    font-size: 16px;
    color: #E8EDE7;
    font-weight: bold;
    
}
/* Ajustes para pantallas pequeñas */
@media (max-width: 640px) {
    .panel {
        height: 20vh;
    }

        .panel h1 {
            font-size: calc(1.5rem + 6vw);
            color: #E8EDE7;
        }
}
