@page "/"
@using BakAppDiego.Components.Dialogs
@inject DialogInterface DialogoService
<div class="top-row">
    
</div>

<div class="header">
    <label class="Label-Destacar">Id del dispositivo</label>
    <label class="Label-Destacar" id="ID">AB555SFF</label>
</div>
<body>

    <div class="containerD">

      
        
        <div class="itemD"><img src="images/logoblanco.png" style="  width: 100%;height: 100%; object-fit: cover;"></div>
        
        
        <div class="itemD">
            <label class="label-con-imagen">
                <img src="images/key.png" alt="Imagen" class="imagen">
                Presione el boton ingresar
            </label>
        </div>
        <div @onclick="IrALog" class="itemD"><button class="button-19" role="button">Ingresar</button></div>
        <div class="itemD">
            <button @onclick="ContraseñaAsync" class="button-19" role="button" >Configuración y conexión local</button>
        </div>
        
        
        
    </div>
    
</body>
<LoadingPopUp @ref="loadingPopup" />
<PopUpConfirmar @ref="PopUp" />




