@page "/MenuPrincipal"


<div class="header">
    <label class="Label-Titulo">Menu Principal</label>
    
</div>
<body>

    <div class="containerD">



       


        
        <div class="itemD">
            <button class="button-19" @onclick="TraerEntidad" role="button">BK-POST DE VENTA(Sistema de ventas)</button>
        </div>
        <div class="itemD">
            <button  class="button-19" role="button">CODIGOS ALTERNATIVOS</button>
        </div>
        <div class="itemD">
            <button  class="button-19" role="button">INVENTARIO</button>
        </div>



    </div>

</body>


