@inherits LayoutComponentBase
@using BakAppDiego.Components.Pages
@using BakAppDiego.Components.Globals.Statics




    <div class="page">

        <main>

            <article class="content px-4" style="background-color: transparent;margin: 0;">
                @Body

            </article>
        </main>
    </div>


    



